<article>
    <section class="header">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </section>
    <section class="header">
        $if(tags)$
        Tags: $tags$
        $endif$
    </section>
    <section>
        $body$
    </section>
</article>
